<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <h1>Usuarios</h1>

    {{ if .Activo  }}
        <p>El usuario está activo en la plataforma</p>
    {{ else }}
        <p>El usuario NO está activo en la plataforma</p>
    {{ end }}

    {{ if (and .Activo .Admin) }}
        <p>Eres administrador</p>
    {{ end }}

    {{ if gt .Edad 22 }}
        <p>El usuario tiene mas de 22 años</p>
    {{ end }}

    <h1>Bucles</h1>
    <ul>
        {{ range .Cursos }}
            <li>{{ .Nombre }}</li>
        {{ end }}
    </ul>

    <!--
    <h1>Hola Mundo</h1>

    <h3>Hola {{ .UserName }}</h3>
    -->
    <!--
        De esta forma voy a estar usando un atributo de mi objeto en mi template cuyo contenido va a venir directamente desde mi servidor. 
        Tmb puedo usar los metodos de mis objetos de igual forma. Si el metodo necesita argumentos entonces debemos enviarlos separados por un espacio y encerrados entre comillas: 
        Ej: {{ .SumarAños "5" }}
    -->

    <!--
    <p>Edad: {{ .Edad }}</p>
    -->

    <!-- Variables HTML -->
    <!--
    {{ with $valor := "Mi variable!!!" }}

    <p> {{ $valor }}</p>
    {{ end }}
    -->

    <!--
        Operadores Logicos: 
        not     !
        and     &&
        or      ||

        Operadores condicionales:
        eq      ==
        ne      !=
        lt      <
        le      <=
        gt      >
        ge      >=
    -->
    
</body>
</html>